{% extends 'base.html.twig' %}

{% block title %}Gestion des espaces en BDD{% endblock %}

{% block body %}
    <h1>Gestion des espaces en BDD</h1>
    <table class="table table-striped">
        <tr>
            <th>Nom</th>
            <th>Superficie</th>
            <th></th>
        </tr>
        {% for e in espaces %}
            <tr>
                <td>{{ e.nom }}</td>
                <td>{{ e.superficie }}</td>
                <td>
                    <a href="{{ path("app_espaces_modifier", {"id": e.id}) }}" class="btn btn-primary">modifier</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{path("app_espaces_ajouter")}}" class="btn btn-success">Ajouter un espace</a>
{% endblock %}
